<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <p>You are not authorized to view this page</p>
      <br />
      <a href="/wikis" class="btn btn-warning">Return to Main Wiki Index</a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
