<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>

      <!-- Navigation -->
    <% include ./partials/navbar.ejs %>
      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Create and share Markdown Wikis</h1>
          <% if (!currentUser) { %>
            <a href="/users/sign_in" class="btn btn-primary btn-lg">Sign in</a>
          <% } else { %>
            <a href="/users/sign_out" class="btn btn-primary btn-lg">Sign out</a>
            <a href="/wikis/new" class="btn btn-primary btn-lg">Create New Wiki</a>
          <% } %>
            <a href="/wikis" class="btn btn-primary btn-lg">See Wiki Index</a>
        </header>

        <!-- Page Features -->
       <section class="row text-center">

            <% if (!currentUser) { %>
              <section class="col-lg-4">
                <h4 class="card-title">Share!</h4>
                <p class="card-text">Create as many public wikis as you want!</p>
                <a href="#" class="btn btn-primary btn-lg">Sign up for a Free Plan</a>
              </section>
              <section class="col-lg-4">
              <h4 class="card-title">Don't Share!</h4>
              <p class="card-text">Create private wikis!</p>
              <p>Sign Up or Sign In to Upgrade to a Premium Membership</p>
            <% } else if (currentUser.role == "standard" ){ %>
              <h4 class="card-title">Don't Share!</h4>
              <p class="card-text">Create private wikis!</p>
              <a href="/upgrade" class="btn btn-primary btn-lg">Upgrade to Premium Plan</a>
            <% } else { %>
              <a href="/downgrade" class="btn btn-primary btn-lg">Downgrade to Free Plan</a>
            <% }%>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
