<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="padding-left:5%;">
  <% include ../static/partials/navbar.ejs %>
  <% include ../static/partials/messages.ejs %>

<h2>Downgrade to Free Account</h2>
<p>We are sorry you didn't enjoy your upgrade</p>


<p>Please note that downgrading will make all your private wikis public</p>

<form action="/refund" method="post">
  <input type="checkbox" name="confirmDowngrade" value="true" style="margin-bottom: 5px;"> I accept that my private wikis will become public</input>
  <input type="hidden" name="userId" value="<%= currentUser.id %>">
  <button>Proceed with Account Downgrade</button>
</form>

  <% include ../static/partials/baseScripts.ejs %>
</body>
