<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="padding-left:5%;">
  <% include ../static/partials/navbar.ejs %>
  <% include ../static/partials/messages.ejs %>

<p>There was an error with your payment, please try again</p>
<a href="/upgrade">Upgrade Account</a>

  <% include ../static/partials/baseScripts.ejs %>
</body>
