<head>
  <% include ../static/partials/head.ejs %>
</head>

<body style="padding-left:5%;">
  <% include ../static/partials/navbar.ejs %>
  <% include ../static/partials/messages.ejs %>

<h2>Stripe Payment Confirmation</h2>
<p>Your payment of <strong>$15.00</strong> was successful!</p>

<a href="/wikis">Return to Wiki List</a>

  <% include ../static/partials/baseScripts.ejs %>
</body>
